@use '../../../../scss/variables' as *;
@use "../../../../scss/mediaqueries" as *;


.profile-container {
  flex: 1 1 50%;
  max-width: 575px;
  padding: 20px 20px;
}

.profile-box{
  position: relative;
  cursor: pointer;
  &:hover {
    &::before {
      content: '';
      opacity: 0.2;
      width: 100%;
      height: 100%;
      background-color: $main;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.profile-image {
  width: 100%;
  overflow: hidden;
  height: 440px;
  position: relative;
  img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.profile-content {
  position: relative;
  height: 192px;
  padding: 20px;
  width: 100%;
  background-color: $secondary;
  border-top: 8px solid $main;
  .profile-linkedin {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    img {
      max-width: 40px;
    }
  }
  .profile-name {
    font-family: $text;
    font-size: 36px;
    color: $tercery;
    font-weight: 700;
  }
  .profile-title {
    font-family: $text;
    font-size: 30px;
    color: $tercery;
    font-weight: 300;
    margin-top: 20px;
  }
}