@import "../../scss/variables";
@import "../../scss/mediaqueries.scss";

.container-fluid-header-home {
  background: $white;
  position: relative;
  border-bottom: 20px solid $secondary;
  width: 100vw;
  max-height: 120px;
  .container-menu {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    height: 80px;
  }
  .container-logo {
    height: 80px;
    width: 100%;
    a {
      color: $main;
      width: 50vw;
      height: 80px;
      display: flex;
      position: relative;

      & img {
        position: absolute;
        top: 15px;
        left: 0;
        width: 80%;
      }
    }
  }
  .icon-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 40%;
    color: $main;
  }
  .box-menu ul {
    display: none;
    list-style: none;
    align-items: flex-end;
    margin-right: 100px;

    .list-menu {
      min-width: 150px;
      border-bottom: 2px solid $white;
      text-align: center;
      padding-bottom: 5px;
      text-decoration: none;
      color: $text_color;
      font-family: $text;
      font-size: 18px;
      cursor: pointer;
      & li {
        text-decoration: none;
        color: $text_color;
      }
      &:hover,
      &.selected {
        border-bottom: 2px solid $main;
        & li {
          color: $text_color;
        }
      }
      .list-submenus {
        position: absolute;
        padding-top: 30px;
        width: 100vw;
        height: calc(100vh - 130px);
        top: 90px;
        left: 0;
        display: none;
        background: transparent;
        z-index: 100;
      }
      &:hover {
        .list-submenus {
          display: block;
        }
      }
      .list-submenus:hover {
        display: block;
      }
    }
  }
  @include desktop {
    .container-menu {
      @include container;
      margin: 0 auto;
      height: 100px;
    }
    .container-logo {
      height: 110px;
      width: 300px;
    }
    .icon-menu {
      display: none;
    }
    .container-logo a {
      color: $main;
      height: 110px;
      display: flex;
      flex: 1 1 100%;
      max-width: 300px;
      position: relative;
      & svg {
        transform: scale(0.65);
        position: absolute;
        left: -40px;
        top: -6px;
      }
    }
    .box-menu ul {
      display: flex;
      margin-bottom: 15px;
    }
  }
}
